packversion: 1
name: hcs-services
version: 0.1.0
metadata:
  author: atwlam
  description: Cloud Service Broker pak for Huawei Cloud Stack (HCS 8.5.x)
platforms:
- os: linux
  arch: amd64
terraform_binaries:
- name: tofu
  version: 1.11.8
  source: https://github.com/opentofu/opentofu/archive/v1.11.8.zip
  url_template: ./bin/${name}_${version}_${os}_${arch}/${name}
  default: true
- name: terraform-provider-hcs
  version: 2.4.28
  source: https://github.com/huaweicloud/terraform-provider-hcs/archive/v2.4.28.zip
  provider: huaweicloud/hcs
  url_template: ./bin/${name}_${version}_${os}_${arch}/${name}_v${version}
- name: terraform-provider-random
  version: 3.9.0
  source: https://github.com/hashicorp/terraform-provider-random/archive/v3.9.0.zip
  url_template: ./bin/${name}_${version}_${os}_${arch}/${name}_v${version}
# Optional environment overrides for values normally set in the CSB config file
# (see config/hcs-broker.yaml.example). Credentials are NOT listed here: they are read
# natively by terraform-provider-hcs from the process environment (HCS_ACCESS_KEY /
# HCS_SECRET_KEY, or HCS_DOMAIN_NAME / HCS_USER_NAME / HCS_USER_PASSWORD).
env_config_mapping:
  HCS_CLOUD: hcs.cloud
  HCS_REGION_NAME: hcs.region
  HCS_PROJECT_NAME: hcs.project_name
  HCS_VPC_NAME: hcs.vpc_name
  HCS_ECS_SUBNET_NAME: hcs.ecs.subnet_name
  HCS_ECS_SECURITY_GROUP_NAME: hcs.ecs.security_group_name
  HCS_RDS_POSTGRESQL_SUBNET_NAME: hcs.rds_postgresql.subnet_name
  HCS_RDS_POSTGRESQL_SECURITY_GROUP_NAME: hcs.rds_postgresql.security_group_name
  HCS_DCS_SUBNET_NAME: hcs.dcs.subnet_name
  HCS_ELB_SUBNET_NAME: hcs.elb.subnet_name
  HCS_GAUSSDB_SUBNET_NAME: hcs.gaussdb.subnet_name
service_definitions:
- hcs-ecs.yml
- hcs-rds-postgresql.yml
- hcs-dcs.yml
- hcs-elb.yml
- hcs-gaussdb.yml
- hcs-csms.yml
- hcs-obs.yml
